spring:
  application:
    name: Api-Gateway
#  config:
#    import:
#      optional:configserver:http://localhost:8085
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: AUTH-SERVICE
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/auth/**

            - id: USER-SERVICE
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 2
                    redis-rate-limiter.burstCapacity: 2
                - name: JwtAuthFilter

            - id: HOTEL-SERVICE
              uri: lb://HOTEL-SERVICE
              predicates:
                - Path=/hotel/**, /staff/**
              filters:
                - name: JwtAuthFilter

            - id: RATING-SERVICE
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/rating/**
              filters:
                - name: JwtAuthFilter


server:
  port: 8084

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

#JWT Configuration
jwt:
  secret: my_secret_key_1234567890_microservice
  expiration: 36000000