server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hotelmicroservice
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: HOTEL-SERVICE

  config:
    import:
      optional:configserver:http://localhost:8085

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#    fetch-registry: true
#    register-with-eureka: true