server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ratingservice
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: RATING-SERVICE

  config:
    import:
      optional:configserver:http://localhost:8085

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#    fetch-registry: true
#    register-with-eureka: true

